<%include header.ejs%>

    <div class = "navBar">
        <a href="/profile">Back</a>
        <a href="/logout">Logout</a>
    </div>


    <form>
    <table class="table2" class="avail_table">
        <tr>
            <td> </td>
            <td><h3> Monday </h3></td>
            <td><h3> Tuesday </h3></td>
            <td><h3> Wednesday </h3></td>
            <td><h3> Thursday </h3></td>
            <td><h3> Friday </h3></td>
            <td><h3> Saturday </h3></td>
            <td><h3> Sunday </h3></td>
        </tr>

        <tr>
            <td><h4>8 AM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value= 1> </td>
            <td><input type="checkbox" name="availability" class="tues" value=1> </td>
            <td><input type="checkbox" name="availability" class="wed" value=1> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=1> </td>
            <td><input type="checkbox" name="availability" class="fri" value=1> </td>
            <td><input type="checkbox" name="availability" class="sat" value=1> </td>
            <td><input type="checkbox" name="availability" class="sun" value=1> </td>

        </tr>

        <tr>
            <td><h4>9 AM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=2> </td>
            <td><input type="checkbox" name="availability" class="tues" value=2> </td>
            <td><input type="checkbox" name="availability" class="wed" value=2> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=2> </td>
            <td><input type="checkbox" name="availability" class="fri" value=2> </td>
            <td><input type="checkbox" name="availability" class="sat" value=2> </td>
            <td><input type="checkbox" name="availability" class="sun" value=2> </td>

        </tr>

        <tr>
            <td><h4>10 AM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=4> </td>
            <td><input type="checkbox" name="availability" class="tues" value=4> </td>
            <td><input type="checkbox" name="availability" class="wed" value=4> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=4> </td>
            <td><input type="checkbox" name="availability" class="fri" value=4> </td>
            <td><input type="checkbox" name="availability" class="sat" value=4> </td>
            <td><input type="checkbox" name="availability" class="sun" value=4> </td>

        </tr>

        <tr>
            <td><h4>11 AM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=8> </td>
            <td><input type="checkbox" name="availability" class="tues" value=8> </td>
            <td><input type="checkbox" name="availability" class="wed" value=8> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=8> </td>
            <td><input type="checkbox" name="availability" class="fri" value=8> </td>
            <td><input type="checkbox" name="availability" class="sat" value=8> </td>
            <td><input type="checkbox" name="availability" class="sun" value=8> </td>

        </tr>

        <tr>
            <td><h4>12 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=16> </td>
            <td><input type="checkbox" name="availability" class="tues" value=16> </td>
            <td><input type="checkbox" name="availability" class="wed" value=16> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=16> </td>
            <td><input type="checkbox" name="availability" class="fri" value=16> </td>
            <td><input type="checkbox" name="availability" class="sat" value=16> </td>
            <td><input type="checkbox" name="availability" class="sun" value=16> </td>

        </tr>

        <tr>
            <td><h4>1 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=32> </td>
            <td><input type="checkbox" name="availability" class="tues" value=32> </td>
            <td><input type="checkbox" name="availability" class="wed" value=32> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=32> </td>
            <td><input type="checkbox" name="availability" class="fri" value=32> </td>
            <td><input type="checkbox" name="availability" class="sat" value=32> </td>
            <td><input type="checkbox" name="availability" class="sun" value=32> </td>

        </tr>

        <tr>
            <td><h4>2 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=64> </td>
            <td><input type="checkbox" name="availability" class="tues" value=64> </td>
            <td><input type="checkbox" name="availability" class="wed" value=64> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=64> </td>
            <td><input type="checkbox" name="availability" class="fri" value=64> </td>
            <td><input type="checkbox" name="availability" class="sat" value=64> </td>
            <td><input type="checkbox" name="availability" class="sun" value=64> </td>

        </tr>

        <tr>
            <td><h4>3 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=128> </td>
            <td><input type="checkbox" name="availability" class="tues" value=128> </td>
            <td><input type="checkbox" name="availability" class="wed" value=128> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=128> </td>
            <td><input type="checkbox" name="availability" class="fri" value=128> </td>
            <td><input type="checkbox" name="availability" class="sat" value=128> </td>
            <td><input type="checkbox" name="availability" class="sun" value=128> </td>

        </tr>

        <tr>
            <td><h4>4 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=256> </td>
            <td><input type="checkbox" name="availability" class="tues" value=256> </td>
            <td><input type="checkbox" name="availability" class="wed" value=256> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=256> </td>
            <td><input type="checkbox" name="availability" class="fri" value=256> </td>
            <td><input type="checkbox" name="availability" class="sat" value=256> </td>
            <td><input type="checkbox" name="availability" class="sun" value=256> </td>

        </tr>

        <tr>
            <td><h4>5 PM</h4></td>
            <td><input type="checkbox" name="availability" class="mon" value=512> </td>
            <td><input type="checkbox" name="availability" class="tues" value=512> </td>
            <td><input type="checkbox" name="availability" class="wed" value=512> </td>
            <td><input type="checkbox" name="availability" class="thurs" value=512> </td>
            <td><input type="checkbox" name="availability" class="fri" value=512> </td>
            <td><input type="checkbox" name="availability" class="sat" value=512> </td>
            <td><input type="checkbox" name="availability" class="sun" value=512> </td>

        </tr>

    </table>
        <br>

        <!--<div class="submitButton">-->
        <input type="submit" id ="avail_submit" name="Submit" value="Submit">
        <!--</div>-->
        <br> <br>

    </form>


<%include footer.ejs%>