<!DOCTYPE html>
<html>

    <head>
        <title> Availability</title>
        <link rel='stylesheet' href='/stylesheets/calendar.css' />

    </head>

    <body>


    <div class = "navBar">
        <p> <a href="/profile"> Back </a></p>
        <p> <a href="/logout">Logout</a></p>
    </div>

    <h1> This is the availability page </h1>



    </body>


</html>