<%include header.ejs%>

    <div class = "navBar">
        <a href="/profile">Back</a>
        <a href="/logout">Logout</a>
    </div>


    <form>
    <table class="table2">
        <tr>
            <td> </td>
            <td><h3> Monday </h3></td>
            <td><h3> Tuesday </h3></td>
            <td><h3> Wednesday </h3></td>
            <td><h3> Thursday </h3></td>
            <td><h3> Friday </h3></td>
            <td><h3> Saturday </h3></td>
            <td><h3> Sunday </h3></td>
        </tr>

        <tr>
            <td><h4>8 AM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>
            <td></ted><input type="checkbox" name="availability" value="8"> </td>

        </tr>

        <tr>
            <td><h4>9 AM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>
            <td></ted><input type="checkbox" name="availability" value="9"> </td>

        </tr>

        <tr>
            <td><h4>10 AM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>
            <td></ted><input type="checkbox" name="availability" value="10"> </td>

        </tr>

        <tr>
            <td><h4>11 AM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>
            <td></ted><input type="checkbox" name="availability" value="11"> </td>

        </tr>

        <tr>
            <td><h4>12 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>
            <td></ted><input type="checkbox" name="availability" value="12"> </td>

        </tr>

        <tr>
            <td><h4>1 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>
            <td></ted><input type="checkbox" name="availability" value="1"> </td>

        </tr>

        <tr>
            <td><h4>2 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>
            <td></ted><input type="checkbox" name="availability" value="2"> </td>

        </tr>

        <tr>
            <td><h4>3 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>
            <td></ted><input type="checkbox" name="availability" value="3"> </td>

        </tr>

        <tr>
            <td><h4>4 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>
            <td></ted><input type="checkbox" name="availability" value="4"> </td>

        </tr>

        <tr>
            <td><h4>5 PM</h4></td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>
            <td></ted><input type="checkbox" name="availability" value="5"> </td>

        </tr>

    </table>
        <br>

        <!--<div class="submitButton">-->
        <input type="submit" id ="avail_submit" name="Submit" value="Submit">
        <!--</div>-->
        <br> <br>

    </form>


<%include footer.ejs%>