        <footer>
            <p>Copyright Carlos&trade;, Jessica, Stephanie</p>
            <p>&copy; May 2017</p>
        </footer>
    </body>

    <script type="text/javascript" src="/javascripts/calendar.js"></script>
    <script type="text/javascript" src="/javascripts/more_calendar.js"></script>
</html>