<%include calendar_header.ejs%>
        <div class="container">
        <h1>Scheduler</h1>
        </div>

        <div class = 'navBar'>
            <a href="/profile">Profile</a>
            <a href="/">Log Out</a>
        </div>
        <br/>

        <div id="availability" style="visibility: hidden;"><%=availability%></div>
        <div id="busyDays" style="visibility: hidden;"><%=busyDays%></div>

        <%include drop_down.ejs%>

        <div id="calendar" style="max-width: 50%; margin: auto;"></div>

<%include calendar_footer.ejs%>
