<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/calendar.css' />
    </head>


    <body>
        <h1><%= title %></h1>
        <div class = 'container'>
            <a href="/profile">Profile</a>
            <a href="/">Log Out</a>
        </div>
        <br/>

        <div id="availability" style="visibility: hidden;"><%=availability%></div>
        <div id="busyDays" style="visibility: hidden;"><%=busyDays%></div>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Choose A Professor</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="/calendar/updateProf?profID=4">Rivoire</a>
                <a href="/calendar/updateProf?profID=5">Kooshesh</a>
                <a href="/calendar/updateProf?profID=6">Watts</a>
                <a href="/calendar/updateProf">hello</a>
                <a href="/calendar/updateProf">hello world</a>
            </div>
        </div>

        <br/>
        <div id="calendar" style="max-width: 50%; margin: auto;"></div>
    </body>
    <script type="text/javascript" src="/javascripts/calendar.js"></script>
    <script type="text/javascript" src="/javascripts/more_calendar.js"></script>
</html>
