<!DOCTYPE html>
<html>

    <head>
        <title>Choose User Account</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>

    <body>
        <div class="container">
            <h1> Are you a student or professor? </h1>
        </div>

        <div class="container">
            <a href="/signup/student"> <button> Student </button></a>

            <a href="/signup/professor"> <button> Professor </button></a>
        </div>

    </body>



</html>