<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/test_connection.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <div id="nav"></div>
        <p>Welcome to the <%= title %> page. To see the calendar, <a href="/calendar">click here</a>.</p>
        <script type="text/javascript" src="/javascripts/navbar.js"></script>
    </body>
</html>
