<%include header.ejs%>
        <div class = "container">
            <!--<h1><%= title %></h1>-->
            <img src= "http://www.sonoma.edu/logos/logos/preview-sec-blue-box.jpg"
                 style= "width:450px; height:200px;" >
            <br > <br>
            <div id="nav"></div>

            <form id="login_form" method="post" onsubmit="action()">
                Email:<br />
                <input name="email" id="email" type="text" /><br />
                Password:<br />
                <input name="password" id="password" type="password" /><br />
                <input type="submit" name="Login" value="Login">
            </form>
            <form action="/signup">
                <input type="submit" name="Signup" value="Sign Up"></a>
            </form>
            <!--<p>For testing purposes only. <a href="test">Click here</a> to run test.</p>-->

        </div>
        <br>
<%include footer.ejs%>