<%include header.ejs%>
        <div class = "container">
            <h3>Sorry! An error occurred. Perhaps the wrong URL?</h3>

            <h2>Please <a href="/">click here</a> to go back to the home page.</h2>
            <h1>Error: <%= message %></h1>
            <h2><b>Stack </b><%= error.status %></h2>
            <p style="text-align: left">Stack: <%= error.stack %></p>
        </div>
<%include footer.ejs%>
