<!DOCTYPE html>
<html>

    <head>
        <title> Student Sign-Up </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>


    <body>
        <div class = "container">
            <h1> Professor Sign-Up</h1>

            <form id="login_form">
                Email:<br />
                <input name="email" id="user" type="text" /><br />
                Password:<br />
                <input name="psswd" id="user" type="test" /><br />
                <br>
                First Name:<br />
                <input name="fname" id="user" type="text" /><br />
                Last Name:<br />
                <input name="lname" id="user" type="text" /><br />
                Office Number:<br />
                <input name="office" id="user" type="test" /><br />


                <input type="submit" name="Submit" value="Submit">
                <!--<input type="submit" name="New" value="New User">-->
            </form>
        </div>

    </body>

</html>