<%include calendar_header.ejs%>

        <div class="container">
            <h1><%=title%></h1>
        </div>


        <div class = 'navBar'>
            <a href="/profile">Profile</a>
            <a href="/">Log Out</a>
        </div>

        <div id="availability" style="visibility: hidden; height: 0;"><%=availability%></div>
        <div id="busyDays" style="visibility: hidden; height: 0;"><%=busyDays%></div>
        <div id="calendarID" style="visibility: hidden; height: 0;"><%=calendarID%></div>

    <div id="calendar" style="max-width: 50%; margin: auto;"></div>
    <br />
<%include calendar_footer.ejs%>
