<%include header.ejs%>

    <div class = 'navBar'>
        <a href="/">Home</a>
    </div>

        <h1>Choose Account Type</h1>

        <form id="login_type" method="post">
            <input type="submit" name="student" value="I'm a Student">
            <input type="submit" name="instructor" value="I'm an Instructor">
        </form>

    <br/>

<%include footer.ejs%>