<!DOCTYPE html>
<html>

    <head>
        <title><%=title%></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/calendar.css' />
    </head>

    <body>

    <div class = 'navBar'>
        <a href="/">Home</a>
    </div>

        <h1>Choose Account Type</h1>

        <form id="login_type" method="post">
            <input type="submit" name="student" value="I'm a Student">
            <input type="submit" name="instructor" value="I'm an Instructor">
        </form>

    <br/>
    <footer>
        Copyright @ Devincenzi, Downie, Lam
        <br/>
        <br/>
        May 10, 2017
    </footer>
    </body>

</html>