<%include header.ejs%>

    <div class = 'navBar'>
        <a href="/">Home</a>
    </div>
    <div class = "container">
        <h1> Student Sign-Up </h1>

        <form id="login_form" method="post">
            Email:<br />
            <input name="email" id="email" type="text" /><br />
            Password:<br />
            <input name="pw" id="pw" type="text" /><br />
            <br>
            First Name:<br />
            <input name="fname" id="fname" type="text" /><br />
            Last Name:<br />
            <input name="lname" id="lname" type="text" /><br />
            Phone Number:<br />
            <input name="phone" id="phone" type="text" /><br />
            Major:<br />
            <input name="major" id="major" type="text" /><br />
            Minor:<br />
            <input name="minor" id="minor" type="text" /><br />

            <input type="submit" name="New" value="New User">
        </form>
    </div>
<%include footer.ejs%>