body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.button a {
    text-decoration:none;
}

.container {

    display: block;
    margin: auto;
    text-align: center;
    /*width: 100%;*/

 }

.button {
    /*background-color: #4CAF50; !* Green *!*/
    border: none;
    padding: 14px 40px;
    width: 15%;
    text-align: center;
    display: inline-block;
    font-size: 75px;
    /*margin: 50px;*/
}


.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

.right {
    text-align: right;

}


.table {
    margin: auto;
    width: 50%;
    font-size: 15px;
    /*text-align: center;*/

}

.table tr td{

    width: 48%;
    margin: 2%;


}













