body {
    padding: 50px;
    background-color: #f7f8f9;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.button a {
    text-decoration:none;
}

.container {

    display: block;
    margin: auto;
    text-align: center;
    /*width: 100%;*/

 }

.button {
    /*background-color: #4CAF50; !* Green *!*/
    border: none;
    padding: 14px 40px;
    width: 15%;
    text-align: center;
    display: inline-block;
    font-size: 75px;
    /*margin: 50px;*/
}


.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

.right {
    text-align: right;

}


.table {
    margin: auto;
    width: 50%;
    font-size: 15px;
    /*text-align: center;*/

}

.table2 {
    margin: auto;
    width: 90%;
    height: 70%;
    font-size: 15px;
    text-align: center;

}

.table tr td{

    width: 48%;
    margin: 2%;
    height: 25px;

}

.table2 tr td{
    border-bottom: 1px solid #ddd;
    width: 8%;
    margin: 2%;
    line-height: 4px;

}

.navBar {
    overflow: hidden;
    background-color: #123a7a;
    font-family: Arial;
}

.navBar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:hover, .dropdown:hover .dropbtn {
    background-color: dodgerblue;
}

#avail_submit {
    width: 100px;
    height: 25px;
    margin: auto;
    text-align: center;
    display: block;
    font-size: 34px;
}

footer {
    padding: 1em;
    color: white;
    background-color: #123a7a;
    clear: left;
    font-family: Arial;
    font-size: 100%;
    text-align: center;
}









